<h3>User List</h3>
<!--

helpful attributes of directive '*ngFor':
  - index
  - count
  - even
  - odd
  - first
  - last

-->

<in-user-name *ngFor="let user of users; index as i; count as c; first as f; even as e"
              [user]="user"
              [data]="'Index: ' + i + ', Count: ' + c + ', erstes Element: ' + f + ', Index ist gerade: ' + e"
              [class.even]="e"
              [isSelected]="selectedUsr===user"
              (selectUsr)="onSelectedUsr( $event )">
</in-user-name>





