/* 'host:' takes care of a more global approach and means the whole 'UserListComponent' */
:host {
    display: block;
    background-color: gainsboro;
  }

h1 {
  text-shadow: darkslategray;
  color: crimson;
}
ul {
  list-style: none;
}
